@using Pp.Misc
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LB-Mont", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Pregled", "Pregled", "Home")</li>
                    <li>@Html.ActionLink("Zatraži ponudu", "Ponuda", "Home")</li>
                    <li>@Html.ActionLink("O nama", "ONama", "Home")</li>
                    <li>@Html.ActionLink("Opis o PVC i ALU stolariji", "Stolarija", "Home")</li>
                   
                    @if (User.Identity.IsAuthenticated && (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
                            {
                                <li>@Html.ActionLink("Proizvodi", "Popis", "Proizvodi")</li>
                                <li>@Html.ActionLink("Korisnici", "Index", "Korisnici")</li>
                             }


                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                            @if (User.Identity.IsAuthenticated)
                            {

                                <li>@Html.ActionLink(((User as LogiraniKorisnik).PrezimeIme), "Index", "Home")</li>
                                <li>@Html.ActionLink("Odjava", "Odjava", "Korisnici")</li>
                            }
                            else
                            {
                                <li>@Html.ActionLink("Registracija", "Registracija", "Korisnici")</li>
                                <li>@Html.ActionLink("Prijava", "Prijava", "Korisnici")</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Kos Andreja</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>
        </html>
